flow3.json
[
    {
        "id": "918aea8bb2421cf5",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b19e8ef27942a526",
        "type": "inject",
        "z": "918aea8bb2421cf5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hola mundo",
        "payloadType": "str",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "67fccd6729866056"
            ]
        ]
    },
    {
        "id": "32a9c8faf6e06de4",
        "type": "inject",
        "z": "918aea8bb2421cf5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "b516e6d5668310d3",
                "8d9f2a4ed873d1c1"
            ]
        ]
    },
    {
        "id": "bf0ec63c366718b2",
        "type": "inject",
        "z": "918aea8bb2421cf5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "str",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "b516e6d5668310d3",
                "8d9f2a4ed873d1c1"
            ]
        ]
    },
    {
        "id": "1749fede46d8dd07",
        "type": "inject",
        "z": "918aea8bb2421cf5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "b516e6d5668310d3",
                "8d9f2a4ed873d1c1"
            ]
        ]
    },
    {
        "id": "67fccd6729866056",
        "type": "ui_text",
        "z": "918aea8bb2421cf5",
        "group": "3e18646eb969fe2a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto enviado - label",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "b516e6d5668310d3",
        "type": "ui_gauge",
        "z": "918aea8bb2421cf5",
        "name": "",
        "group": "17ec565b4cf911c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "",
        "className": "",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "8d9f2a4ed873d1c1",
        "type": "ui_chart",
        "z": "918aea8bb2421cf5",
        "name": "",
        "group": "17ec565b4cf911c7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3e18646eb969fe2a",
        "type": "ui_group",
        "name": "Texto - Group ",
        "tab": "c07d36b5bef343ec",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17ec565b4cf911c7",
        "type": "ui_group",
        "name": "Gráficas - Group",
        "tab": "c07d36b5bef343ec",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c07d36b5bef343ec",
        "type": "ui_tab",
        "name": "Flow-3 - Tab ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]